{% extends "@App/layout-user.html.twig" %}

{% block title %}Натяжные потолки - Слуцк{% endblock %}

{% block content %}
    <div class="container-fluid">
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
        <p>qqqqqqqqqqqqqqqqqqqqqqq</p>
    </div>



    <div class="block-map">
        <p class="title-map">Где нас найти в Слуцке?</p>
        <div class="info-map">
            <p>
                3-й Железнодорожный пер., 23
            </p>
            <p>
                с 9.00 до 18.00
            </p>
            <p>
                <i class="glyphicon glyphicon-option-horizontal"></i>
            </p>
            <p>
                <i class="glyphicon glyphicon-phone-alt"></i>
                +375 29 500 06 00<br>
                <i class="glyphicon glyphicon-phone"></i>
                +375 29 500 06 00<br>
                <i class="glyphicon glyphicon-earphone"></i>
                +375 29 500 06 00
            </p>
        </div>
        <a class="map" href="https://yandex.ru/maps/?um=constructor%3Afbb732387346bc90c949dc72358955e8f06fd4c1cef4b3d21dcd7d3ea40d3860&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Afbb732387346bc90c949dc72358955e8f06fd4c1cef4b3d21dcd7d3ea40d3860&amp;width=512&amp;height=418&amp;lang=ru_RU" alt="" style="border: 0;" /></a>
    </div>

{% endblock %}